*.ipynb_checkpoints/*
applyxfm.sub
bad-qa.png
cp-corrmats.sh
cp-motion-plots.sh
descriptives-Copy1.ipynb
design.con
design.frf
design.fsf
plots-output
plots.sub
reg2-error
regn-fnirt-error
regn-fnirt-output
retr-metrics.png
submit-cp-corrmats.sub
submit-cp-motion-plots.sub
submit-flirt-to-mni_allsubj.sub
submit-flirt-to-mni_test.sub
submit-reg2.sub
testing-error
testing-output
assets/*
data/*
gender-id-q-scoring.py
*.DS_Store
*/.DS_Store
.DS_Store